.site-nav {
}

.site-nav ul {
    display: flex;
    padding: 0;
}

.site-nav li {
    display: block;
    list-style: none outside;
    padding: 0 0.5em;
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.site-nav li:nth-child(1) { transition-delay: 0.1s; }
.site-nav li:nth-child(2) { transition-delay: 0.2s; }
.site-nav li:nth-child(3) { transition-delay: 0.3s; }
.site-nav li:nth-child(4) { transition-delay: 0.4s; }
.site-nav li:nth-child(5) { transition-delay: 0.5s; }


.site-nav li:first-child {
    padding-left: 0;

}

body.loaded .site-nav li {
    opacity: 1;
}

.site-nav a {
    display: block;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    background: #eee;
    transition: background 0.4s ease-in-out, color 0.6s ease-in-out;
}


.site-nav a:hover {
    background: var(--color-link-default);
    color: var(--color-body-bgrd);
}

.site-nav a i.fas:before {
    color: #000;
    margin-right: 0.5em;
}

.site-nav a:hover i.fas:before {
    color:ivory;
    transition:  color 0.4s ease-in-out;
}