.site {
    max-width: var(--ms-layout-main-width);
    margin: 0 auto;
    padding: 2em;
}

@media (min-width: 1024px) {
    .site-header {
        display: flex;
    }
    
    .site-header nav {
        margin-left: auto;
    }
}

