<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{site.title}}</title>
</head>

<body>
    <div class="site">
        <header class="site-header">
            <h1 class="site-title">
                <a href="/">Main</a>
            </h1>
        </header>
        <main class="site-main">
            {{content}}

            {% if page.title %}
            {{page.title}}
            {% endif %}

            <ul>
                {% for page in site.pages %}
                {% if page.title %}

                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
                {% endif %}

                {% endfor %}
            </ul>

        </main>

        <aside class="site-sidebar">

        </aside>

        <footer class="site-footer">
            <p>All rigths reserved &copy; TheBestBro</p>
        </footer>


    </div>

</body>

</html>